*{
    margin:0;
    padding:0;
}
body{
    font-family:Comic Sans Ms;
    font-size: 16px;
}
.full_wapper{
    width:100%;
}
.main_wapper{
    width:80%;
    margin:0 auto;
}
.header{
    height: 73px;
    width: 100%;
    background-color:#009DE5;
    border:2px solid #C91600;
    border-radius: 7px;
    
}
.logo-part{
    float:left;
}
.logo-part h2{
    padding: 20px;
    color:white;
}
.logo-part h2:hover{
    background-color: blue;
    border-radius: 10px;
}
.main-menu{
    width:64%;
    float:left;
}
.main-menu ul{
    float:right;
}
.main-menu ul li{
    float:left;
    list-style-type:none;
}
.main-menu ul li a{
    padding:25px 22px;
    display:inline-block;
    text-decoration:none;
}
.main-menu ul li a:hover{
    color: white;
    background-color: blue;
    border-radius:7px;
    transition: 0.5s;
}
.back-img{
}
.back-img img{
    width:100%
}
.service_all{
    width:100%;
}
.service_all h1{
    color: #009DE5;
    padding: 15px;
    
}
.service_all img{
    width:100%;
}
.service01{
    width:32%;
    position: relative;
    float:left;
    margin:5px;
    box-shadow: 10px 10px 40px gray;
}
.overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(90, 234, 212, 0.7);
    opacity:0;
    transition: 0.5s;
}
.overlay img{
    position:absolute;
    width:30px;
    height:30px;
    top:50%;
    left:45%;
    opacity:1;
}
.service01:hover .overlay{
    opacity:1;
    transition:0.5s;
}

#icon{
    left:50%;
    width:60px;
    height:60px;
    top:43%;
}
.main-content{
    width: 100%;
}
.left-side{
    float: left;
    width: 55%;
    padding: 12px;
    height: 882px;
    background-color: #009DE5;
}
.left-side h1{
    margin-bottom:10px;
    margin-top:10px;
    color:white;
}
.left-side h2{
    margin-bottom:10px;
    margin-top:10px;
    color:#FFC82B;
}
.left-side p{
    margin-bottom:10px;
    text-align:justify;
}
.right-side{
    float: right;
    width: 42%;
}
.right-side img{
    width: 100%;
    height:450px;
}
.from{
    padding: 50px;
    align-items:left;
    margin-top: 500px;
}
.from input{
    box-shadow: 10px 10px 40px gray;
}
.txt{
    height: 150px;
    width: 500px;
    background-color:#FFFF89;
    padding: 5px;
}
.em{
    height: 50px;
    width: 500px;
    background-color:#FFFF89;
    margin-bottom: 10px;
    padding: 5px;
}
label{
    color: #009DE5;
    font-size: 20px;
}
.sub{
    padding: 5px;
    margin-top: 10px;
}
.social{
    margin:10px;
    margin-right: 140px;
    
}
.social p{
    background-color: #009DE5;
    width:48px;
    height: 48px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    font-family:comic sans ms;
    box-shadow: 5px 5px 30px gray;
    float: right;
}
.social p a{
    color: white;
    text-decoration: none;
}
.social img{
    width:48px;
    height: 48px;
    float: right;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    box-shadow: 5px 5px 30px gray;
}
.footer{
    background-color:#009DE5;
    padding: 20px;
    color: white;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 140px;
    
}